.wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.container {
	display: flex;
	align-items: center;
	height: 56px;
	border: 1px solid #606060;
	border-radius: 5px;
	overflow: hidden;
}

.counter {
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	padding: 0 35px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	background-color: #499bec;
	transition: background-color 0.2s linear;
}

.btn:hover {
	background-color: #1d6dbc;
}
